/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-45deg, #4e54c8, #8f94fb, #a29bfe, #74ebd5);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
