body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.overlay-background {
  background: url('https://firebasestorage.googleapis.com/v0/b/sanatan-stories-c19c9.appspot.com/o/DALL%C2%B7E%202024-06-20%2000.24.14%20-%20A%20serene%20and%20divine%20background%20image%20depicting%20Hindu%20gods%20and%20culture.%20The%20image%20should%20feature%20a%20blend%20of%20vibrant%20colors%2C%20with%20sacred%20symbols%20like%20th.webp?alt=media&token=c8c2a07d-79ee-4d20-997c-25752d51cd32') no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay-background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
  z-index: 1;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  min-height: 100vh; /* Ensure it takes full height initially */
}
